a {
  color: black;
  
}
a:hover{
    background-color:rgb(104, 104, 104);
}
a:active{
    background-color:rgb(134, 134, 134);
}
p {
  font-family: Lato;
}

#navBar{
margin: 0 79% 0 0;
background-color: #339966;
}